<script type="application/ld+json">
{
  "@context": "https://gelinc.github.io",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.baseurl }}{{ post.url }}"
  },
  "headline": "{ page.title }",
  "image": [
    "{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}"],
  "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
  "dateModified": "{{ page.date | date:"%Y-%m-%d" }}",
  "author": {
    "@type": "{{ page.author }}",
    "name": "{{ author.display_name }}"
  },
   "publisher": {
    "@type": "GELinC-UnB",
    "name": "{{ author.display_name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}"
    }
  },
  "description": "{{ post.excerpt | strip_html | truncatewords:30 }}"
}
</script>